@import "bootstrap-variables.scss";                  // Bootstrap variables.
// -------------------------------------------------------------------------.

// View modes inventory variables.

// View modes inventory's default h3 title font size.
$xlarge-title-font-size: 2rem;
$large-title-font-size: 1.8rem;
$medium-title-font-size: 1.4rem;
$small-title-font-size: 1.4rem;
$xsmall-title-font-size: 1.2rem;

// Tout default styles.
$tout-title-color: #fff;
$tout-xlarge-title-font-size: 4rem;
$tout-content-stop1-location: 65%;
$tout-content-stop1-color: transparent;
$tout-content-stop2-location: 105%;
$tout-content-stop2-color: #000;
$tout-content-hover-opacity: 0.9;

// Hero default styles.
$hero-title-color: #fff;
$hero-xlarge-title-font-size: 3rem;
$hero-content-hover-opacity: 0.7;
$hero-content-background-color1: rgb(0,0,0);
$hero-content-background-color2: rgba(0,0,0,0.7);

$view-modes-padding: $grid-gutter-width !important;
$view-modes-margin: $grid-gutter-width !important;
$view-modes-h3-margin: 0.4em 0;

