<div {{ attributes.addClass('vertical-media-teaser-view-mode', 'medium-text-only', 'clearfix') }}>
  {{ title_suffix.contextual_links }}
  <div class="main-contnet">
    {{ content.main }}
  </div>
</div>