@import "../../variables.less";
.tout-view-mode {

  .field--name-node-title {
    color: @tout-title-color;
    
    h3 {
      margin: 0;
      padding: 0;
      color: @tout-title-color;
    }

    a {
      color: @tout-title-color;
      text-decoration: none;
    }
  }
  
  .tout-content {
    background: linear-gradient(to bottom, transparent 0%, @tout-content-background 200%) repeat scroll 0 0;
    background: -webkit-linear-gradient(to bottom, transparent 0%, @tout-content-background  200%) repeat scroll 0 0;
    background: -o-linear-gradient(to bottom, transparent 0%, @tout-content-background  200%) repeat scroll 0 0;
    background: -moz-linear-gradient(to bottom, transparent 0%, @tout-content-background  200%) repeat scroll 0 0;
    
    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
    }
  }
}