.horizontal-media-teaser-view-mode.xlarge .field--name-node-title h3 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .horizontal-media-teaser-view-mode.xlarge .field--name-node-title h3 {
    font-size: 2rem;
  }
}
