<div {{ attributes.addClass('horizontal-media-teaser-view-mode', 'xlarge', 'clearfix') }}>
  {{ title_suffix.contextual_links }}
  <div class="left col-sm-6">
    {{ content.left }}
  </div>
  <div class="right col-sm-6">
    {{ content.right }}
  </div>
</div>
