<div {{ attributes.addClass('horizontal-media-teaser-view-mode', 'small-text-only', 'clearfix') }}>
  {{ title_suffix.contextual_links }}
  <div class="main-contnet">
    {{ content.main }}
  </div>
</div>
