<div {{ attributes.addClass('horizontal-media-teaser-view-mode', 'xsmall', 'clearfix') }}>
  {{ title_suffix.contextual_links }}
  <div class="left col-xs-6 col-sm-6">
    {{ content.left }}
  </div>
  <div class="right col-xs-6 col-sm-6">
    {{ content.right }}
  </div>
</div>
