@import "../../variables.scss";
.vertical-media-teaser-view-mode {
  margin-top: $view-modes-margin;

  .main-content {
    &:first-child {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
  }
}
